APP_NAME=FDE Enterprise Automation API
API_TOKEN=change-this-token
CLUSTER_ID=prod-ha-cluster-01
EXECUTION_MODE=ssh
BASTION_HOST=192.168.0.85
BASTION_PORT=22
BASTION_USER=root
BASTION_KEY_PATH=/opt/fde/keys/bastion.pem
KUBECONFIG_PATH=/root/.kube/config
SSH_TIMEOUT=10
COMMAND_TIMEOUT=30
AUDIT_LOG_PATH=./audit.log
CORS_ORIGINS=*
